<%= render "shared/navbar" %>
<div class="comment-main">
  <div class="filmline-left"></div>
  <div class="comment-content">
    <div class="comment-top">
      <h1 class="film-title"><%= @film.title %></h1>
      <%= link_to 'Back', film_path(@film), class: "back-link" %>
    </div>
    <h1 class="review">レビュー</h1>
    <div class="comment-bottom">
      <div class="comment-items">
        <% @comments.each do |comment| %>
          <div class="comment-item">
            <div class="comment-text"><%= comment.comment %></div>
            <div class="comment-user"><%= comment.user.nickname %></div>
          </div>
        <% end %>
      </div>
    </div>
    <%= paginate @comments %>
  </div>
  <div class="filmline-right"></div>
</div>