<%= render "shared/navbar" %>
<div class="comment-main">
  <div class="new-content">
    <%= image_tag "comment-sidebar.png", class: "sidebar-left" %>
    <h1 class="new-title"><%= @film.title %></h1>
    <%= form_with(model: [@film, @comment], local: true) do |f| %>
      <div class="field">
        <%= image_tag "commentbar.png", class: "commentbar" %>
        <%= f.label :レビュー, class: "review-label" %>
        <%= f.text_area :comment, autofocus: true %>
        <%= image_tag "commentbar.png", class: "commentbar" %>
      </div>
      <div class="comment-actions">
        <%= f.submit "ホリック", class:"post-button" %>
        <%= link_to "Back", film_path(@film), class: "comment-back" %>
      </div>
    <% end %>
    <%= image_tag "comment-sidebar.png", class: "sidebar-right" %>
  </div>
</div>
