<div class="account-page">
  <div class="container">
    <h2>アカウントの編集</h2>
    <%= form_with model: current_user, local: true do |f|%>
      <%= render "devise/shared/error_messages", resource: current_user %>

      <div class='field'>
        <%= f.label :nickname%><br />
        <%= f.text_field :nickname, autofocus: true%>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div class='actions'>
        <%= f.submit "Update", class: 'btn'%>
        <%= link_to "Back", user_path(current_user) %>
      </div>
    <% end %>
  </div>
</div>