<%= render "shared/navbar" %>
<div class="my-main">

  <div class="my-left-page">
    <div class="my-left-items">
      <div class="my-left-top">
        <div class="my-name">
          <%= @user.nickname %>
        </div>
        <div class="my-edit">
          <%= link_to(edit_user_path(@user)) do %>
            <%= image_tag "icon.png", size: '50x50', class: "icon" %>
          <% end %>
        </div>
      </div>
      <div class="my-left-bottom">
        <div class="like-head">お気に入り</div>
          <div class="my-like-lists">
            <% @likes.each do |like| %>
              <% film = like.film %>
              <div class="my-like-film" id="film_<%= film.id %>">
                <div class="my-like-button">
                  <%= turbo_frame_tag dom_id(film, :like) do %>
                    <% if user_signed_in? && film.liked_by?(current_user) %>
                      <% like = film.likes.find_by(user: current_user) %>
                      <%= link_to image_tag("like.png", class: "like-icon"), film_like_path(film.id, like.id), data: { turbo_method: :delete, turbo_frame: dom_id(film, :like) }, class: "film_likes" %>
                    <% else %>
                      <%= link_to image_tag("unlike.png", class: "like-icon"), film_likes_path(film.id), data: { turbo_method: :post, turbo_frame: dom_id(film, :like) }, class: "film_likes" %>
                    <% end %>
                  <% end %>
                </div>
                <%= link_to film_path(film) do %>
                  <div class="my-title">
                    <%= film.title %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="my-left-line"></div>
  </div>

  <div class="my-right-page">
    <div class="my-right-items">
      <div class="my-record">
        <h1 class="record">Record</h1>
        <div class="my-comments">
          <% @comments.each do |comment| %>
            <%= render partial: "show", locals: { comment: comment } %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="my-right-line"></div>
  </div>
</div>