<%= render "shared/navbar" %>
<div class="my-main">

  <div class="my-left-page">
    <div class="my-left-items">
      <div class="my-left-top">
        <div class="my-name">
          <%= @user.nickname %>
        </div>
        <div class="my-edit">
          <a href="<%= edit_user_path(@user) %>" class="edit-icon-link">
            <%= image_tag "icon.png", size: '50x50', class: "edit-icon" %>
            <div class="edit-icon-overlay"></div>
          </a>
        </div>
      </div>
      <div class="my-left-bottom">
        <div class="like-head">お気に入り</div>
        <div class="my-like-lists">
          <% @likes.each do |like| %>
            <% film = like.film %>
            <%= turbo_frame_tag dom_id(film, :like) do %>
              <div class="my-like-film" id="film_<%= film.id %>">
                <%= render partial: "like", locals: { film: film } %>
                <%= link_to film_path(film), data: { turbo: false } do %>
                  <div class="my-title">
                    <%= film.title %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="my-left-line"></div>
  </div>

  <div class="my-right-page">
    <div class="my-right-items">
      <div class="my-record">
        <h1 class="record">Record</h1>
        <div class="my-comments">
          <% @comments.each do |comment| %>
            <%= render partial: "show", locals: { comment: comment } %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="my-right-line"></div>
  </div>
</div>