<%= render "shared/navbar" %>
<div class="my-main">
  <div class="mypages">

    <div class="my-left-page">
      <div class="my-page-top">
        <div class="my-name">
          <%= @user.nickname %>
        </div>
        <div class="my-edit">
          <%= link_to(edit_user_path(@user)) do %>
            <%= image_tag "icon.png", size: '50x50', class: "icon" %>
          <% end %>
        </div>
      </div>

      <div class="my-page-bottom">
        <div class="my-like-lists">
          <%# each.doでならべる %>
        </div>
      </div>
    </div>

    <div class="my-right-page">
      <div class="my-record">
        <h1 class="record">Record</h2>
          <div class="my-comments">
            <% @comments.each do |comment| %>
              <%= render partial: "show", locals: { comment: comment } %>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>