<div class="navbar">
  <div class="logo"><%= link_to "シネホリック", root_path %></div>
  <div class="menu" id="menu">
    <span><%= image_tag "menu.png" %></span>
    <ul class="lists hidden" id="pull-down">
      <li class="top-list"><%= link_to "上映作品", "#" %></li>
      <% if user_signed_in? %>
      <li class="second-list"><%= link_to "マイページ", user_path(current_user) %></li>
      <li class="third-list"><%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }%></li>
      <% else %>
      <li class="fourth-list"><%= link_to "サインイン", new_user_registration_path %></li>
      <li class="fifth-list"><%= link_to "ログイン", new_user_session_path %></li>
      <% end %>
      <li class="dropdown">
        <div class="dropdown-content">
          <form class="search-form" action="#" method="get">
            <input type="text" placeholder="keyword" name="q">
            <button type="submit">GO</button>
          </form>
        </div>
      </li>
    </ul>
  </div>
</div>

<%= javascript_importmap_tags%>