<%= link_to film_path(film), class: "film", data: {turbo: false} do %>
  <div class="left-show">
    <%= image_tag(film.poster_image_url.present? && film.poster_image_url != "/global/images/jfdb_noimage.png" ? film.poster_image_url : asset_path('noimage.png'), class: "index-poster-image") %>
  </div>
  <div class="right-show">
    <div class="title-show">
      <h2><%= film.title %></h2>
      <div class="release-date"><%= film.release_date %></div>
    </div>
    <div class="text-show">
      <p><%= film.description %></p>
    </div>
  </div>
<% end %>