<%= render "shared/navbar" %>
<div class="main">
  <div class="curtain">
    <%= image_tag "curtain.jpg", class: "curtain-image" %>
    <div class="contents">
        <%= form_with(url: search_films_films_path, method: "get", local: true, class: "main-search-form") do |form| %>
          <%= form.text_field :q_cont, placeholder: "Search", class: "search-input" %>
          <%= form.submit "GO", class: "search-btn" %>
        <% end %>
      </div>
      <div class="bottom-content">
        <%= link_to "ENTER", showing_films_films_path, class: "enter-buttin" %>
      </div>
    </div>
  </div>
</div>