<%= render "shared/navbar" %>
<div class="film-main">
  <div class="filmline-left"></div>
  <div class="content">
    <div class="shows">
      <div class="show-detail">
        <div class="show-top">
          <div class="left-show-top">
            <%= image_tag(@film.poster_image_url.present? && @film.poster_image_url != "/global/images/jfdb_noimage.png" ? @film.poster_image_url : asset_path('noimage.png'), class: "poster-image") %>
          </div>
          <div class="right-show-top">
            <div class="right-top">
              <small class="show-date">( <%= @film.release_date %> )</small>
              <h2><%= @film.title %></h2>
            </div>
            <div class="right-bottom">
              <div class="comment-link"><%= link_to "レビュー", film_comments_path(@film) %></div>
              <div class="comment-link"><%= link_to "投稿", new_film_comment_path(@film) %></div>
              <div id="like-btn">
                <%= render partial: "likes/like", locals: { film: @film } %>
              </div>
            </div>
          </div>
        </div>
        <div class="film-detail">
          <div class="text-selection">
            <% @trailers.each do |trailer| %>
              <p><%= trailer.text %></p>
            <% end %>
          </div>
          <div class="cast-and-staff">
            <div class="cast-section">
            <h3>キャスト</h3>
              <ul>
                <% @casts.each do |cast| %>
                  <li><%= cast.name %></li>
                <% end %>
              </ul>
            </div>
            <div class="staff-section">
            <h3>スタッフ</h3>
              <ul>
                <% @trailers.each do |trailer| %>
                  <% if trailer.role.present? && trailer.name.present? %>
                    <li><strong><%= trailer.role %> : </strong> <%= trailer.name %></li>
                  <% elsif trailer.role.present? %>
                    <li><strong><%= trailer.role %></strong></li>
                  <% elsif trailer.name.present? %>
                    <li><%= trailer.name %></li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="production-section">
            <% @trailers.each do |trailer| %>
              <% if trailer.production.present? %>
                <p><strong>制作会社 :</strong> <%= trailer.production %></p>
              <% end %>
              <% if trailer.official_site.present? %>
                <p><strong>公式サイト :</strong> <%= link_to trailer.official_site, trailer.official_site %></p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="filmline-right"></div>
</div>