<%= render "shared/navbar" %>
<div class="film-main">
  <div class="filmline-left"></div>
  <div class="content">
    <div class="shows">
      <% @films.each do |film| %>
        <%= render partial: "film", locals: { film: film } %>
      <% end %>
    </div>
    <div class="pagination-desktop">
      <%= paginate @films %>
    </div>
    <div class="pagination-tablet">
      <%= paginate @films, window: 2 %>
    </div>
    <div class="pagination-mobile">
      <%= paginate @films, window: 1 %>
    </div>
  </div>
  <div class="filmline-right"></div>
</div>